/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.modal {
    color: black;
    text-shadow: none;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
    overflow-y: auto;
}

/*my styles*/

.user_img {
    display: block;
    height: 200px;
    width: 200px;
    position: relative;
}

.user_img img.user_ph {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_container {
    display: flex;
    width: 100%;
}

.inner.cover {
    width: 100%;
}

.my_content {
    display: flex;
    flex-direction: column;
}

.photo_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.photo_block form input {
    margin-top: 25px;
}

.chat {
    max-height: 60vh;
    overflow-y: scroll;
}

.chat_container {
    display: flex;
    flex-direction: column;

}

.chat::-webkit-scrollbar {
    width: 12px;
}

.chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.chat_container .mess {
    display: flex;
    margin: 10px 0;
    padding: 5px;
}

.chat_container .mess .user_ph {
    display: block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.chat_container .mess .mess {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border: 1px solid #1b6d85;
    border-radius: 5px;
}

.chat_container .mess .mess .name {
    display: flex;
}
.chat_container .mess.even .mess .name {
    display: flex;
}
.chat_container .mess.odd .mess .name {
    flex-direction: row-reverse;
}

.chat_container .mess .mess h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
}

#form_chat {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#form_chat textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background: #333;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
}

.att {
    text-decoration: underline;
    text-align: left;
    font-size: 11px;
    color: #cecece;
    transition: all .4s ease;
}

.att:hover {
    color: #fff;
}

#form_chat textarea:focus {
    outline: none;
}

.chat_container .mess .mess span {
    color: #919191;
    font-size: 8px;
    font-weight: 800;
    margin: 0 10px;
}

.chat_container .mess.odd .mess h3 {
    text-align: right;
}

.chat_container .mess.even .mess h3 {
    text-align: left;
}

.chat_container .mess.odd .mess p {
    text-align: left;
    max-width: 500px;
}

.chat_container .mess.even .mess p {
    text-align: left;
    max-width: 500px;
}

.chat {
    width: 100%;
}

.chat_container .mess .user_ph img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
    border-radius: 0;
}

.chat_container .mess.odd {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-self: flex-end;
}

.chat_container .mess.even {
    flex-direction: row;
    justify-content: flex-start;
}

.my_nav {
    min-width: 200px;
    display: flex !important;
    flex-direction: column !important;
    text-align: left;
    text-decoration: none !important;
}

.alert-danger {
    width: 100%;
    padding: 20px;
    border-radius: 5px !important;
    margin-bottom: 15px !important;
    text-align: left;
}

.my_nav li {
    margin-left: 0 !important;
}

.my_nav li a {
    /*padding: 0 !important;*/
    text-decoration: none !important;
}

.my_content .user_name {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.my_content .user_email {
    text-align: left;
}

.my_content .user_descr {
    text-align: left;
}

.my_content .user_form {
    display: flex;
    flex-direction: column;
}

.my_content .user_form label {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 100%;
}

.my_content .user_form label span {
    width: 30%;
    text-align: left;
}

.my_content .user_form label input {
    width: 65%;
}

.my_content .user_form label select {
    width: 65%;
}

.my_content .user_form button {
    max-width: 300px;
    margin: 25px auto 0 auto;
}

.search_result {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search_result .folder {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.search_result .folder .user_img {
    display: block;
    height: 150px;
    width: 150px;
}

.search_result .folder .user_img img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    height: auto;
    width: auto;
}

.search_result .folder .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search_result .folder .info a {
    margin-left: 25px;
    font-size: 24px;
}

.textarea-fotm textarea {
    margin-bottom: 15px;
}

.textarea-fotm input.file {
    margin-bottom: 15px;
}

.search_result .folder .info .buttons {
    min-width: 150px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main {
    width: 100%;
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
}

main section {
    max-height: 60vh;
    overflow-y: scroll;
}

main section::-webkit-scrollbar {
    width: 12px;
}

main section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

main section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

.my_sidebar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

@media (min-width: 768px) {
    /*.masthead {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*}*/
    .site-wrapper-inner {
        /*vertical-align: middle;*/
    }

    .masthead,
    .cover-container {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .masthead,
    .cover-container {
        width: 950px;
    }
}

.shadow {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    position: fixed;

    background: black;

    opacity: 0.6;
    z-index: 500;
}

em {
    font-weight: 700;
    font-style: italic;
}